<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 录音：minSdk 24 / targetSdk 36 均需运行时授权 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 仅当你会用 Notification（含以后前台服务常驻通知）再加 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <activity
            android:name=".UserMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Exchange.Base" />
    </application>
</manifest>
